
		.header{width:100%;height: 96px;background-color: white;padding: 10px 0;
		}
		.logo-con{width:1192px;height: 96px;margin:0px auto;position:relative;
		}
		.header img{float:left;
		}
		.welcome{width:104px;height: 24px;display: block;
			background:url(../img/header-login.png) top left no-repeat;overflow:hidden;position: absolute;bottom: 25px;left:215px;
		}
		.header .logo-con .header-r{width:600px;height:96px;float: right;display: flex;flex-flow: row nowrap;justify-content: space-between;align-items: center;
		}
		.header-r .return{padding-left:47px; padding-top:22px;
		}
		.header-r .return1{background: url(../img/footer-01.png) left bottom no-repeat;
		background-position:15px -65px;
		}
		.header-r .return2{background: url(../img/footer-01.png) left bottom no-repeat;
		background-position:0px -138px;
		}
		.header-r .return3{background: url(../img/footer-01.png) left bottom no-repeat;
		background-position:0px -210px;
		}
		.return .p1 {font-size:14px;color:black;margin:0;
		}
		.p1 span{color:black; color:#e5004f;
		}
		.return .p2 {font-size:12px;color:#888 ;margin:0;
		}
		/*banner 护照登录*/
		.banner{width:100%;height: 480px;background-color:#f9f9f9;padding: 50px 0;overflow: hidden;
		}
		.banner-con{width:1192px;height: 460px;margin:0px auto;display: flex;flex-flow: row nowrap;justify-content: space-between;align-items: center; margin-bottom:30px;
		}
		.banner-con .log{width:380px;height:465px;background-color:#f3f3f3;
		}
		.log .login{height:20px;border-bottom: 1px solid #d8d8d8;display: flex;flex-flow: row nowrap;justify-content: space-between;align-items: center;padding:15px 0 2px 0;background-color: white;margin-bottom:20px;
		}
		.log .login span{display: block;height:20px;line-height: 20px;
			font-size:14px;color:#d8d8d8;
		}
		.banner-con .log input{border:none;border-bottom:1px solid #d8d8d8;height:40px;font-size:16px;color:#adadad;width:100%;padding: 10px;
		}
		.banner-con .test{
			display: flex;flex-flow: row nowrap;justify-content: center;align-items: center;
		}
		.banner-con #testCode{
			display: block;height:40px;width:70px;float: right;background-color: #999;text-align: center;line-height: 40px;
		}
		.banner-con .log button{border-radius: 5px;height:35px;font-size:14px;color:white;width:365px;border:none;background-color: #d8d8d8;margin: 12px;margin:20px 5px;
		}
		.banner-con .log a {font-size:14px;color:#888;
		}
		.banner-con .log p {font-size:12px;color:#999;
		}
		.banner-con .log .tex{
			font-size:14px;color:black;text-align:right;
		}
		/*footer*/
		.footer {display: flex;flex-flow: row nowrap;justify-content: center;align-items: center;font-size:12px;color:#888;margin:20px;}
		.footer span{
			display: block;width:10px;
		}
		.footer a{display: block;padding:0 10px;font-size:12px;color:#888;}
		.footer-b{margin-top:10px;text-align:center;font-size:12px;color:#888;}
		.footer img{margin-right:20px;}
		.footer-t a:hover{
			color:#e5004f;
		}
		